

body {
    background-color: rgba(138, 214, 224, 0.705);
    
}

#menu{

  
    

}


#container{
    background-color: rgb(214, 202, 202);
    border-style: solid;
    width: 30%;
    margin-right: 500px;
    margin-left: 600px;

    
   
}

#header{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: bold;
    

}

.subtitle{

    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;

}

.recuo{

    margin-left: 15px;

}

.destaque{

    
    color:red;
}

#content{

margin-left: 15px;
text-align: justify;
margin-right: 15px;

}

ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    padding: 6px;
    
    
   
}
ul{
    
    display: inline-block;
    background-color: black;
    width: 93%;
    margin-top: 0;

}